@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input[type='range']::-webkit-slider-thumb {
  @apply h-6 w-6 cursor-pointer appearance-none rounded-full bg-blue-500 dark:bg-blue-400;
}
input[type='range']::-moz-range-thumb {
  @apply h-6 w-6 cursor-pointer rounded-full bg-blue-500 dark:bg-blue-400;
}

.modal-size {
  max-width: 90vw;
  max-height: 95vh;
}
